[1:53 PM, 3/18/2025] +91 70928 10131: a{
    color:rgb(158,103,31);
    }
    a:hover{
    color:rgb(231,38,38);
    }
    *{
    margin:0;
    /padding:2rem0;/
    font-family:Cambria,Cochin,Georgia,Times,
    'TimesNewRoman
    '
    ,serif;
    font:size10px;
    box-sizing:border-box;
    }
    header{
    background-color:#333;
    color:white;
    position:relative;
    text-align:center;
    padding:2rem0;
    }
    .contenth1{
    font-size:2.5rem;
    }
    .propic{
    width:100px;
    
    height:100px;
    position:absolute;
    border-radius:75%;
    top:75px;
    left:100px;
    object-fit:cover;
    }
    nav{
    background-color:beige;
    text-align:center;
    color:#333;
    }
    navul{
    list-style:none;
    padding:0px;
    }
    navulli{
    display:inline;
    margin:020px;
    }
    